---
layout: default
---
<div id="post">

  <h2>{{ page.title }}</h2>

  <div class="center-block text-muted">

    <span class="post-date">
      <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
      {{ page.date | date_to_string }}
    </span>

    <span class="categories">
&nbsp;
      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      {% for tag in page.tags %}
      <span>
        <a href="/tags/{{ tag }}">{{ tag }}</a>
      </span>
      {% endfor %}
    </span>

  </div>

  <p>{{ content }}</p>

  <nav>
    <ul class="pager">
      <li>
        <a href="{{ page.next.url }}"><span aria-hidden="true">&larr;</span> Newer</a>
      </li>
      <li>
        <a href="{{ page.previous.url }}">Older <span aria-hidden="true">&rarr;</span></a>
      </li>
    </ul>
  </nav>

</div>

<!--  
<div id="related">
  <h2>Recent Posts</h2>
  <ul class="posts">
    {% for post in site.posts limit:10 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->
